# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# SQLite database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store

# Logs
*.log